body {
  margin: 0;
  background-color: #D25557;
}

nav {
    width: 100%;
    overflow: auto;
}

.wrapper1 {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 2px;
    grid-auto-rows: minmax(50px, auto);
    justify-items: stretch;
    align-items: stretch;  
}

.wrapper2 {
    display: grid;
    grid-template-columns: 100%;
}

#green {
    background-color: #2BCC67;
}

#brown {
    background-color: #B8977E;
}

/* Style the header */
#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #A1282A;
    padding: 10px;
}

#h2-white {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    font-size: 3vw;
}

#h2-black {
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
    font-size: 3vw;
}

#p-white {
    font-family: 'Lato', sans-serif;;
    color: white;
    text-align: justify;
    font-size: 2vw;
}

#p-black {
    font-family: 'Lato', sans-serif;;
    color: black;
    text-align: justify;
    font-size: 2vw;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-left {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.image-right {
    float: right;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#edu {
    border-radius: 75%; 
}

#form-middle {
    margin-left: 37.5%;
    width: 25%;
}

#submit-middle {
    margin-left: 42.5%;
    width: 15%;
    border-radius: 8%;
}