{% load static %}

<!DOCTYPE html>
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
	{% block body %}
    {% endblock %}

	<nav class="navbar navbar-inverse" id="header">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="{% static 'images/profile-logo2.png' %}" width="50", height="50" alt="Profile" style="margin-top: -12.5px;" " /></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'favGames' %}">Next Page</a></li>
            <li><a href="{% url 'home' %}" style="color: black"><b>HOME</b></a></li>
            <li><a href="{% url 'favGames' %}" style="color: black"><b>FAV-GAMES</b></a></li>
            <li><a href="{% url 'form' %}" style="color: black"><b>FORM</b></a></li>
        </ul>
      </div>
    </nav>
</body>
</html>