{% extends 'Base.html' %}

{% load static %}

{% block head %}
    <title>Favourite Games</title>
{% endblock %}

{% block body %}
	<br></br>
	<br></br>
	<br></br>

	<img src="{% static 'images/game-icon.png' %}" alt="Game Icon" class="image-left" style="left: 300px" />

	<br></br>

	<h2 style="background-color: #13CE66; text-align: center;">My Personal Favourite Games</h2>

	<br></br>
	<br></br>

	<img src="{% static 'images/aoc2.jpg' %}" width="505", height="300" alt="Art of Conquest" class="image-left" />

	<div id="p-white"><b>Art of Conquest : Dragon Dawn</b><br></br>Art of Conquest is a pretty lofty combination of genres - namely RTS, RPG, and a dash of MMO. This mixture of abbreviations is meant to make sure you're attracted to at least one of these. It is a little slow to start, and its free-to-play elements could put some players off, but it still has enough potential to deserve a chance.</div>

	<br></br>
	<br></br>
	<br></br>

	<img src="{% static 'images/ml.jpg' %}" width="580", height="235" alt="Mobile Legends" class="image-left" />

	<div id="p-white"><b>Mobile Legends : Bang Bang</b><br></br>Mobile Legends is a 5v5 MOBA for handheld devices that offers a variety of playable heroes, game modes, and intense, fast-paced gameplay. With controls optimized for touchscreen devices, players can quickly get set up to play a match against other players in real time.</div>

	<br></br>
	<br></br>

	<img src="{% static 'images/fifa.jpg' %}" width="340", height="340" alt="FIFA" class="image-left" />

	<div id="p-white"><b>FIFA</b><br></br>FIFA is a football simulation video game in the FIFA series of video games, developed and published by Electronic Arts and was released for Microsoft Windows, PlayStation 3, PlayStation 4, Xbox 360, Xbox One and Nintendo Switch. It has 26 instalment FIFA series.
	</div>

	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>

	<img src="{% static 'images/m&b.jpg' %}" width="450", height="250" alt="Mount&Blade" class="image-left" />

	<div id="p-white"><b>Mount & Blade : Warband</b><br></br>Mount & Blade: Warband is the stand-alone expansion pack to the action role-playing video game Mount & Blade. Announced in January 2009, the game was developed by the Turkish company TaleWorlds Entertainment and was published by Paradox Interactive on March 30, 2010.
	</div>

	<br></br>
	<br></br>
	<br></br>

	<img src="{% static 'images/nba.jpg' %}" width="231", height="288" alt="NBA" class="image-left" />

	<div id="p-white"><b>NBA 2K</b><br></br>NBA 2K18 is a basketball simulation video game developed by Visual Concepts and published by 2K Sports. It has 19 installment in the NBA 2K franchise.
	</div>
{% endblock %}