{% extends 'Base.html' %}

{% load static %}

{% block head %}
    <title>Form</title>
{% endblock %}

{% block body %}
    <body></body>
    <br></br>
    <br></br>
    <br></br>
    <br></br>

    <div id="h2-white" style="background-color: #A1282A">Form</div>

    <br></br>

    <form>
      <div id="p-black" style="margin-left: 37.5%">Name :</div>
      <input type="text" class="form-control" placeholder="First name" id="form-middle">
        <input type="text" class="form-control" placeholder="Last name" id="form-middle"">
        <div id="p-black" style="margin-left: 37.5%">Birth date:</div>
        <input type="date" class="form-control" placeholder="dd/mm/yyyy" id="form-middle">
        <div id="p-black" style="margin-left: 37.5%">Email:</div>
        <input type="email" class="form-control" placeholder="your-email@example.com" id="form-middle">
        <div id="p-black" style="margin-left: 37.5%">subject:</div>
        <input type="text" class="form-control" placeholder="Your subject" id="form-middle">
        <div id="p-black" style="margin-left: 37.5%">Massage:</div>
        <textarea type="text" rows="5" class="form-control" placeholder="Your massage" id="form-middle"></textarea> 
    </form>

    <br></br>

    <input type="submit" placeholder="submit" id="submit-middle">
{% endblock %}