{% extends 'Base.html' %}

{% load static %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <br></br>
    <br></br>
    <br></br>

    <div>
        <img src="{% static 'images/foto.png' %}" width="400", height="300" alt="foto Reinaldy" class="image-left" />

        <br></br>

        <div id="h2-white"><b>Halo, Nama Saya Reinaldy Rabbany</b></div>

        <br></br>
        <br></br>

        <div id="p-white">Dan ini adalah web profile diri saya. Semoga bagi siapapun yang membacanya, khususnya keluarga dan orangtua saya, dapat menikmati web sederhana buatan saya ini.</div>
    </div>

    <br></br>
    <br></br>
    <br></br>
    <br></br>

    <div class="wrapper2" id="brown">
        <br></br>
        <div id="h2-white"><b>Rekam Jejak Singkat Kehidupan Reinaldy</b></div>
        <br></br>
    </div>

    <br></br>
    <br></br>
    <br></br>

        <img src="{% static 'images/baby.png' %}" width="300", height="200" alt="Bayi" class="image-left" />

        <div id="h2-black">Hari Kelahiran</div>

        <br></br>

        <div id="p-white">Pada 22 Agusutus pada tahun 2000 di salah satu rumah sakit di Bekasi.
            Lahirlah seorang bayi laki-laki sebagai anak kedua dari pasangan berbahagia.
            Ya, Nama dari bayi laki-laki tersebut ialah Reinaldy Rabbany.</div>
    </div>

    <br></br>
    <br></br>
    <br></br>
    <br></br>

    <img src="{% static 'images/kanak2.jpg' %}" width="400", height="300" alt="Kanak-Kanak" 
        class="image-right" />

    <br></br>

    <div id="h2-black">Kanak-Kanak</div>

    <br></br>

    <div id="p-black">Bayi tersebut telah bertumbuh dan memasuki tahap kanak-kanak. Ia tumbuh menjadi anak yang cukup periang dan suka bermain bersama teman-temannya.
    Ia dan keluarga pindah rumah ke Jakarta sebelum ia memasuki TK. Dan memulai tahap awal pendidikannya dari TK dekat rumah dan melanjutkan ke SD yang juga di dekat rumah</div>

    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>

    <img src="{% static 'images/remaja.jpg' %}" width="400", height="300" alt="Remaja" 
        class="image-right" />

    <br></br>

    <div id="h2-black">Remaja !!</div>

    <br></br>

    <div id="p-white">Bayi tersebut telah bertumbuh dan memasuki tahap kanak-kanak. Ia tumbuh menjadi anak yang cukup periang dan suka bermain bersama teman-temannya.
    Ia dan keluarga pindah rumah ke Jakarta sebelum ia memasuki TK. Dan memulai tahap awal pendidikannya dari TK dekat rumah dan melanjutkan ke SD yang juga di dekat rumah</div>

    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>

    <img src="{% static 'images/fasilkom.png' %}" width="400", height="300" alt="Fasilkom" 
        class="image-right" />

    <br></br>

    <div id="h2-white">Masa-masa sekarang</div>

    <br></br>

    <div id="p-white">Alhamdulillah... setelah begitu banyak perjuangan semasa SMA khususnya saat kelas XII. Aldy berhasil mendapatkan kuliah di tempat impiannya di Universitas Indonesia jurusan sistem informasi. Saat ini, ia sedang memfokuskan dirinya untuk berjuang melawan beratnya semester 3 seorang mahasiswa Fasilkom.</div>

    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>

    <div id="h2-white">Hobi, Keahlian, dan Pendidikan</div>

    <br></br>
    <br></br>
    <br></br>
    <br></br>

    <div class="wrapper1" id="green">
        <img src="{% static 'images/graduation-2.png' %}" width="400", height="300" alt="Pendidikan" 
        class="image-right" id="edu" />
        <div id="p-white"><br></br>TK        :   Mekar Sari<br></br>SD         :   Mekar Sari<br></br>SMP     :   Jakarta Islamic Boy Boarding School<br></br>SMA    :   Pesantren Unggul Albayan<br></br>Perguruan Tinggi   :   Universitas Indonesia, Sistem Informasi   </div>
    </div>

    <br></br>
    <br></br>

    <img src="{% static 'images/hobi-skill2.png' %}" alt="My Hoby and Skills" 
        class="image-center" />

    <br></br>


    <img src="{% static 'images/kalender.png' %}" alt="Calender" 
        class="image-left" style="margin-left: 33%" />

    <br></br>
    <br></br>

    <div id="h2-white" style="text-align: justify;">Recent Activities</div>

{% endblock %}